---
  MONGODB_HOST : 
  MONGODB_AUTH : True/False
  MONGODB_CREDENTIALS :
    ROUser : 
    RWUser : 
    ROPwd : 
    RWPwd : 

  MONGODB_AUTHDB : admin

  OS_AUTH_TYPE : v3applicationcredential
  OS_AUTH_URL : https://ncloud.bsc.es:5000/v3/
  OS_IDENTITY_API_VERSION : 3
  OS_REGION_NAME : RegionOne
  OS_APPLICATION_CREDENTIAL_ID : 
  OS_APPLICATION_CREDENTIAL_SECRET : 
