---
  TMPDIR : /tmp
  MONGODB_HOST :
  MONGODB_DB: nextprocurement
  MONGODB_AUTH : True
  MONGODB_CREDENTIALS :
    ROUser :
    RWUser :
    ROPwd :
    RWPwd :

  MONGODB_AUTHDB : admin

  OS_AUTH_TYPE : v3applicationcredential
  OS_AUTH_URL : https://ncloud.bsc.es:5000/v3/
  OS_IDENTITY_API_VERSION : 3
  OS_REGION_NAME : RegionOne
  OS_APPLICATION_CREDENTIAL_ID :
  OS_APPLICATION_CREDENTIAL_SECRET :
  OS_INTERFACE : public
  OS_PROJECT_NAME: bsc22nextprocurement
  OS_PROJECT_NAME: bsc22nextprocurement
  OS_SWIFT_CONTAINER: PLACE
  OS_SWIFT_DOCUMENTS_FOLDER: documentos

# Collections
  insiders_col_prefix: place
  insiders_id_mask : ^ntp0[0-9]{7}
  outsiders_col_prefix: place
  minors_col_prefix: place_menores
  minors_id_mask: ^ntp1[0-9]{7}
  documents_col: downloadedDocuments
  documents_backup_col: downloadedDocuments_backup
  contractingParties_col: contractingParties_col
  adjudicatarios_col: adjudicatarios

# Get_Documents settings
  FIELDS_TO_SKIP:
    - id
    - LocatedContractingParty_WebsiteURI
    - Entidad_Adjudicadora/URL_perfil_de_contratante
    - Entidad_Adjudicadora/Sitio_Web
    - Proceso_de_licitacion/Medio_de_Presentacion_de_Ofertas_Electronicas
    - Entidad_Adjudicadora/Calle

  STORE_DOC_NAMES:
    Datos_Generales_del_Expediente/Pliego_de_Clausulas_Administrativas/URI: Pliego_clausulas_administrativas_URI
    Datos_Generales_del_Expediente/Pliego_de_Prescripciones_Tecnicas/URI: Pliego_Prescripciones_tecnicas_URI
    Datos_Generales_del_Expediente/Anexos_a_los_Pliegos/URI: Anexos_pliegos_URI
    Otros_documentos_publicados/Documento_Publicado/URI: Documento_Publicado_URI
    Datos_Generales_del_Expediente/Pliego_de_Prescripciones_Tecnicas/Archivo: Pliego_Prescripciones_tecnicas_Archivo
    Publicaciones_Oficiales/Documento_Publicado/URI: Publicaciones_oficiales_URI
    Condiciones_de_Licitacion/Programas_de_Financiacion: Programas_de_Financiacion
    Datos_Generales_del_Expediente/Numero_de_Expediente: Numero_de_Expediente
    Datos_Generales_del_Expediente/Objeto_del_Contrato: Objeto_del_Contrato
    Plazo_de_Presentacion_de_Oferta/Observaciones: Plazo_de_Presentacion_Observaciones
    Requisitos_de_Participacion/Criterio_de_Evaluacion_Economica_Financiera/Descripcion: Requisitos_de_Participacion_Evaluacion_Economica_Financiera
    Requisitos_de_Participacion/Criterio_de_Evaluacion_Tecnica/Descripcion: Requisitos_de_Participacion_Evaluacion_Tecnica

  SKIP_SERVERS:
    - www.madrid.org
    - www.contratacion.euskadi.eus
    - contractaciopublica.gencat.cat
    - contractaciopublica.cat

# Calc summary
  aggregated_counts:
    - Datos_Generales_del_Expediente/Tipo_Contrato
    - Proceso_de_licitacion/Sistema_de_contratacion
    - Proceso_de_licitacion/Idioma_de_Presentacion_de_Oferta
    - Entidad_Adjudicadora/Tipo_de_Administracion
    - Entidad_Adjudicadora/Pais
    - Lugar_de_ejecucion/Pais