---
  MONGODB_HOST : mdb-login.bsc.es
  MONGODB_AUTH : True
  MONGODB_CREDENTIALS :
    ROUser : nextp_ro
    RWUser : nextp_rw
    ROPwd : nextp_2022o
    RWPwd : nextp_2022w

  MONGODB_AUTHDB : admin

  OS_AUTH_TYPE : v3applicationcredential
  OS_AUTH_URL : https://ncloud.bsc.es:5000/v3/
  OS_IDENTITY_API_VERSION : 3
  OS_REGION_NAME : RegionOne
  OS_APPLICATION_CREDENTIAL_ID : 0c438c207d554595bab1e8da9c9f1792
  OS_APPLICATION_CREDENTIAL_SECRET : 9gFpOgcPsYgQCLKNz6t8XR1qjmxOlLIoBzA6ERFTWSUu43DNOKbqtATv-3bkYidIWEycICiecMsRpRqJvKmvBQ